<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="#Contact">Contact</a>
    <a href="/falcon">Millenium Falcon</a>
    <a href="/diagon">Diagon Alley</a>
    <a href="/batman">Lego Batman</a>
    <a href="/dieroll">Roll A Die</a>
    <a href="/plteams">Premier League Teams</a>
    
</nav>